# This file is used to configure Lombok
# https://projectlombok.org/features/configuration

# Add @Generated annotation to Lombok-generated code (for JaCoCo to ignore)
lombok.addLombokGeneratedAnnotation = true

# Stop looking for config files in parent directories
config.stopBubbling = true

# Prefer @Slf4j over other logging frameworks
lombok.log.fieldName = log
lombok.log.fieldIsStatic = true
